.proc2::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	border-radius: 50%;

} 
.line2::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	left: 0;
	transition: 0.5s;

}


.checkout-cont{
	width: 670px;
	max-width: 100%;
	height: auto;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	padding-bottom: 20px;
	margin-left: 20px;
}
.checkout-cont label{
	color: #494848;
	font-weight: bold;
	margin:15px;
}

/*details-cont*/
.details-cont{
	width: 100%;
	display: flex;
	flex-direction: column;
}
/*name-section*/
.name-section{
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffff;
	border-radius: 5px;
	border:  1px solid lightgray;
	margin-top: 30px;
}
.name-cont{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 5px;
/*	overflow: hidden;*/
}
.name-cont input{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.name-cont span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
/*.email*/
.email{
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffff;
	border-radius: 5px;
	border:  1px solid lightgray;
	margin-top: 30px;
}
.email-cont{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 5px;
/*	overflow: hidden;*/
}
.email-cont input{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.email-cont span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

/*country-address-cont*/
.country-address-cont{
	width: 100%;
	height: auto;
/*	background: pink;*/
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

/*counrty-phone*/
.counrty-phone{
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffff;
	border-radius: 5px;
/*	border:  1px solid lightgray;*/
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.code{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.code input{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.code span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.phone{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.phone input{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.phone span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

/*province-city*/

.province-city{
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffff;
	border-radius: 5px;
/*	border:  1px solid lightgray;*/
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.province{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.province select{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.province span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.city{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.city select{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
	padding-right: 20px;

}

.city span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}



/*district-address*/
.district-address{
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffff;
	border-radius: 5px;
/*	border:  1px solid lightgray;*/
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.district{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.district select{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
}
.district span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.address{
	display: flex;
	width: 300px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	border:  1px solid lightgray;
}
.address select{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	outline: none;
	background: none;
	outline-color: none;
	border: none;
	padding-right: 20px;

}

.address span{
	position: absolute;
	top: -13px;
	left: 20px;
	width: auto;
	background: #ffff;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}