.min-cart-container{
	width: 100%;
	height: auto;
	padding: 20px 0;
	background: #fff;
	display: flex;
	justify-content: space-between;

}

/*top-cart-header*/
.top-cart-header{
	margin: 50px 0;
	margin-top: 30px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
/*proccess-container*/
.proccess-container{
	width: 500px;
	height: 50px;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
/*process*/
.process{
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.process .proc-circ{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: lightgray;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
/*	border: 1px solid #000;*/
	z-index: 1;
}
.proc1::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	border-radius: 50%;

}
/*process-line*/
.process-line{
	width: 100%;
	height: 15px;
	position: absolute;
	top: 2.5px;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 10px;
	justify-content: space-between;
	
}
.line{
	width: 100%;
	height: 3px;
	background: lightgray;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;

}
.proc1::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	border-radius: 50%;

}
.line1::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	left: 0;
	transition: 0.5s;

}
.proc2::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
/*	background: #000;*/
	border-radius: 50%;

} 
.line2::after{
	content: '';
	position: absolute;
/*	width: 100%;*/
	height: 2px;
	background: #000;
	left: 0;
	transition: 0.5s;

}
.proc3::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
/*	background: #000;*/
	border-radius: 50%;

} 
.line3::after{
	content: '';
	position: absolute;
/*	width: 100%;*/
	height: 2px;
	background: #000;
	left: 0;
	transition: 0.5s;
	
} 


.top-cart-header h1{
	color: #494848;
}
.cart-left-content{
/*	width: 650px;*/	
	width: 100%;
/*	max-width: 100%;*/
/*	background: pink;*/
	display: flex;
	flex-direction: column;
}
.cart-items{
	width: 100%;
	height: auto;
	overflow-y: hidden;
	padding: 20px 20px;
	max-height: 100%;
}
.cart-items li{
	height: 80px;
	width: auto;
	margin: 16px 0;
	border-top: none;
	padding-top: 0;
	margin-top: 0;
	border: 1px solid transparent;
	border-radius: 5px;
	overflow: hidden;
}
.cart-items li:hover{
	border: 1px solid #000;

}

.cart-items .cart-img {
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
.cart-img{
	justify-content: center;
}
.cart-items .cart-img img{
	width: 100%;
	height: 80px;
	object-fit: cover;
	object-position: center;
/*	padding: 7px;*/
	padding-top: 5px;
}
.cart-items .cart-img{
/*	background: #fff;*/
}
.cart-items .item-name a{
	text-decoration: none;
}
.cart-items-header{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0 30px;
}
.n,.pr,.act{
padding-right: 30px;
}

.total-cont{
	width: 650px;
	max-width: 100%;
	position: inherit;
	justify-content: space-between;
}


.right-deatils-container{
	width: 500px;
/*	max-width: 100%;*/
	min-height: 300px;
	height: 100%;
	background: #ffff;
	padding: 0 20px;
}
/*.sum-content*/
/*.sum-content*/
.sum-content{
	width: 100%;
	height: auto;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	padding-bottom: 20px;
}

/*summary-header*/
.summary-header{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: #494848;
}
.vouchericon{
	display: flex;
	align-items: center;
}
.vouchericon ion-icon{
	font-size: 20px;
	color: #C83538;
	margin-right: 15px;
}
.voucher{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.voucher span{
	display: flex;
}
.voucher small{
	padding-bottom: 10px;
	font-weight: 500;
}
.voucher input{
	width: 100%;
	height: 50px;
	margin-right: 5px;
	border-radius: 5px;
	border: 1px solid lightgray;
	text-align: center;
	color: #000;
	font-size: 17px;
	text-transform: uppercase;
}
.voucher button{
	width: 200px;
	height: 50px;
	border-radius: 5px;
	background: #000;
	color: #fff;
	border: none;
}
.voucher button:hover{
	background: #000e;
	cursor: pointer;
}
.vouch-cont{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

/*sub-total-cont*/
.sub-total-cont{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.checkout-btn{
	margin-top: 10px;
}
.checkout-btn button{
	width: 100%;
	height: 50px;
	background: #C83538;
	border: none;
	border-radius: 5px;
	color: #fff;
}

/*.payment-method-cont*/
.payment-method-cont{
	width: 100%;
	height: auto;
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.payment-cont{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.payment-cont span{
	width: 100px;
	height: 70px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.payment-cont span img{
	width: 100%;
/*	height: 80px;*/
/*	object-fit: cover;*/
}
.payment-cont .master{
	width: 60px;
}
