/*font style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
	background: #f8f8f8;

}
a{
	text-decoration: none;
}
.main-container{
	width: 100%;
	height: auto;
	max-width: 1500px;
	background: #f8f8f8;
	padding: 90px 30px;
	margin: auto;
	
}
.success{
	width: 100%;
	position: fixed;
/*	top: -100%;*/
	top: 10px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	transition: .3s;
	visibility: hidden;
	transform: scale(0);

}
.success span{
	width: 300px;
	height: 70px;
/*	background: #1fae51;*/
	/*background: #fff;
	border: 2px solid #C83538;*/
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
/*	border-radius: 10px;*/

	/* From https://css.glass */
	background: rgba(225, 255, 255, 0.3);
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
/*	border: 1px solid rgba(0, 0, 0, 0.3);*/
	border: 1px solid #C83538;

}

.show-success{
	visibility: visible;
	opacity: 1;
	transition: .2s;
/*	top: 10px;*/
	transform: scale(1);
}



