.proc3::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000;
	border-radius: 50%;

} 
.line3::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	left: 0;
	transition: 0.5s;

}
/*sum-content*/
.sum-content{
	display: flex;
	flex-direction: column;
}
.cart-items li{
	padding-right: 15px;
}
.cart-items .trash{
	display: none;
}

/*costumer-header*/
.costumer-header{
	width: 100%;
	height: auto;
}
.costumer-header label{
	font-size: 16px;
	font-weight: 500px;
}

/*final-details*/
.final-details{
	display: flex;
/*	justify-content: space-between;*/
}
/*cost-details-label*/
.cost-details-label{
	display: flex;
	flex-direction: column;
}
.cost-all-details{
	display: flex;
	flex-direction: column;
	width: 290px;
	margin-left: 20px;
}
.cost-details-label small{
	margin: 2px 0;
	font-weight: 500;
}
.cost-all-details small{
	padding-right: 5px;
	display: flex;
	margin: 2px 0;
}
.cost-all-details .cost-address-details{
	display: flex;
}

/*.costumer-header*/
.costumer-header{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.costumer-header small{
	font-weight: 500;
}


